<!DOCTYPE html>
<html>

<head>
    <title>Analyzer-Review</title>
    <link rel="icon" href="/img/analyzer.png">
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div id="boxes">
        <div id="right-box">
            <div class="icon-bar">
                <div><a href="/index">Home</a></div>
                <div><a href="/analyzer">Analyzer</a></div>
                <div><a href="/about">About</a></div>
                <div><a href="/sources">Sources</a></div>
            </div>
        </div>
        <div id="left-box" style="width: 75%;">
            <div class="main-content">
                <div class="result-container">
                    <div class="result-row">

                        <div class="result-card">
                            <p class="result-header">The Overall sentiment rating of data analyzed is:
                                {{final_score}}.
                                {{overall_message}} </p>
                        </div>

                    </div>
                    <div class="result-row">
                        <div class="result-column line" style="float: left;">
                            <div class="result-card">
                                {{!-- <div id="correct-img">

                                </div> --}}
                                <img src="/img/correct.png" style="display: block; margin-left: auto; margin-right: auto;">
                                <p class="column-title">The best review rating is : {{best_review_rating}}. In other
                                    words
                                    {{best_review_rating_perc}} of people had positive experience</p>
                                <div class="container">
                                    <p>{{best_review}}</p>
                                </div>
                            </div>
                        </div>

                        <div class="result-column" style="float: right;">
                            <div class="result-card">
                                {{!-- <div id="wrong-img">
                                    
                                </div> --}}
                                <img src="/img/wrong.png" style="display: block; margin-left: auto; margin-right: auto;">
                                <p class="column-title">The worst review rating is : {{worst_review_rating}}. In other
                                    words
                                    {{worst_review_rating_perc}} of people had negative experience
                                </p>
                                <div class="container">
                                    <p>{{worst_review}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>