<!DOCTYPE html>
<html>

<head>
    <title>Analyzer-Review</title>
    <link rel="icon" href="/img/analyzer.png">
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="jquery-gauge.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="jquery-gauge.min.js"></script>
    <script>
$('.gauge').gauge({
  values: {
    0 : '-1',
    10 : '-0.8',
    20: '-0.6',
    30 : '-0.4',
    40: '-0.2',
    50 : '0',
    60: '0.2',
    70 : '0.4',
    80: '0.6',
    90 : '0.8',
    100: '1'
  },
  colors: {
    0 : '#666',
    60: '#ffa500',
    80: '#f00'
  },
  angles: [
    180,
    360
  ],
  lineWidth: 10,
  arrowWidth: 20,
  arrowColor: '#ccc',
  inset:true,

  value: {{final_score}}
});
</script>
</head>

<body>
    <div id="boxes">
        <div id="right-box">
            <div class="icon-bar">
                <div><a href="/index">Home</a></div>
                <div><a href="/analyzer">Analyzer</a></div>
                <div><a href="/about">About</a></div>
                <div><a href="/sources">Sources</a></div>
            </div>
        </div>
        <div id="left-box">
            <div class="main-content">
                <div class="result-container-top">
                    <div class="result-row">

                        <div class="result-card1">
                            <p class="result-header">The Overall sentiment rating of data analyzed is:
                                {{final_score}}. <br />
                                This rating is analyzed on the scale of 1(being postive sentiment) to -1(being negative sentiment) and 0(being nutral sentiment). 
                                In other words if the overall score is a negative number people wrote negative reviews. 
                                 and if the overall score is postive, 
                                people wrote positive reviews. 
                                 </p>

                        </div>
                        <div class="gauge"></div>


                    </div>
                    <div class="result-row">
                        <div class="result-column" style="float: left;">
                            <div class="result-card">

                                <div>
                                    <div style="display:inline-block; width: 100%; margin-bottom: 10px;">
                                        <div style="text-align: left"><img class="result-left-img"
                                                src="/img/correct.png"></div>
                                        <div style="text-align: right"><img class="result-right-img"
                                                src="/img/yelp.png"></div>
                                        <div class="result-column-title" style="color: #03fc84;">Positive Review</div>
                                    </div>
                                    <div class="result-container">
                                        The best review rating is : {{best_review_rating}}. 
                                    </div>
                                    {{!-- <p class="column-title"></p> --}}
                                    <div class="result-container">
                                        <p>{{best_review}}</p>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="result-column" style="float: right;">
                            <div class="result-card">
                                <div>
                                    <div style="display:inline-block; width: 100%; margin-bottom: 10px;">
                                        <div style="text-align: left"><img class="result-left-img" src="/img/wrong.png">
                                        </div>
                                        <div style="text-align: right"><img class="result-right-img"
                                                src="/img/yelp.png"></div>
                                        <div class="result-column-title"  style="color: #d62222;">Negative Review</div>
                                    </div>
                                    <div class="result-container">
                                        The worst review rating is : {{worst_review_rating}}. 
                                    </div>
                                    {{!-- <p class="column-title"></p> --}}
                                    <div class="result-container">
                                        <p>{{worst_review}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>